@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
::selection {
  background: var(--selected-bg);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--app-background);
  color: var(--text-secondary);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  width: 100%;
}

body.night ::selection,
html.night ::selection {
  color: var(--selected-text);
  background: var(--selected-bg);
}

main,
section,
footer {
  content-visibility: auto;
}
