:root {
  --selected-bg: hsl(52, 100%, 50%);
  --selected-text: hsl(240, 5%, 22%);
  --app-background: hsl(0, 0%, 100%);
  --site-name: hsl(211, 100%, 50%);
  --text-primary: hsl(240, 9%, 29%);
  --text-secondary: hsl(240, 9%, 29%);
  --active-link: hsl(167, 100%, 26%);
  --box-shadow: hsla(0, 0%, 0%, 0.2);
  --border: hsl(220, 13%, 91%);
}
body.night {
  --app-background: hsl(222, 27%, 12%);
  --text-secondary: hsl(240, 11%, 72%);
  --text-primary: hsl(0, 0%, 91%);
  --active-link: hsl(167, 100%, 33%);
  --box-shadow: hsla(0, 0%, 100%, 0.2);
  --border: hsl(0, 0%, 38%);
}
