h1,
h2,
h3,
h4 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  outline: none;
  border: none;
  color: var(--text-secondary);
}
li {
  list-style: none;
}

main {
  display: grid;
  gap: 50px;
}

button {
  border: none;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
