@use "../util/" as *;

.about {
  &__myself {
    font-size: rem(18);

    .link {
      text-decoration: none;
      font-weight: 700;
      position: relative;
      display: inline-block;
    }
  }
  &__skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: rem(30);
    margin: rem(30) 0;

    .skill {
      text-transform: uppercase;
    }

    .count {
      font-size: rem(52);
      font-weight: 700;
      color: var(--text-blue);
    }

    .verify-skill {
      cursor: pointer;
      font-size: rem(20);
      font-weight: 500;
    }

    .verify-skill:after {
      content: "";
      display: inline-block;
      transition: all 0.2s ease-in-out;
      position: relative;
      bottom: rem(2);
      margin-left: rem(5);
      background: url("../../../assets/images/arrow.png") no-repeat center;
      transform: rotate(-45deg);
      background-size: 100%;
      width: rem(20);
      height: rem(20);
      vertical-align: middle;
    }

    .verify-skill:hover:after {
      transform: translateX(rem(7));
    }
  }
}

.resume {
  text-transform: capitalize;

  .arrow-link {
    margin: rem(50) 0;
  }
}
